 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Alerta que salpica</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>AqS es un proyecto cooperativo de registro, conversa y reflexión alrededor de las paredes pintadas de América Latina en el siglo XXI. Se propone hacer con un libro lo que hemos hecho con pintura, papel, cart&oacuten y pega de forma simult&aacutenea en distintas partes del continente: </p>
                </div>
                <div class="col-lg-4">
                    <p>interpelar con la imagen la noción de "lo p&uacuteblico" y experimentar la convivencia de sentires y vivires de la calle como espacio com&uacuten. </p><p>Par&eacutemonos frente a &eacutel como quien pinta una pared: alerta, y entonces, con deseo y preguntando, hag&aacutemoslo nuestro.</p>
                </div>
            </div>
        </div>
    </section>