    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <a href="tienda/#!/Alerta-que-salpica/p/96509116/category=0" class="btn btn-lg btn-outline">
                       comprar
                    </a>
                    <a href="#portfolio" class="btn btn-lg btn-outline">
                        hojear
                    </a>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </header>