 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                        </br>
                             <p class="left">{{ post.description }}</p>                          
                            </br>
                            <img src="img/portfolio/cont/{{ post.cont }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <ul class="list-inline item-details">                                
                                <li><small>im&aacutegenes del cap&iacutetulo:</small>
                                    <strong>{{ post.imagenes }}</a></strong>
                                </li>
                                <li><small>ensayo del cap&iacutetulo:</small>
                                    <strong>{{ post.tituloensayo }}</strong>, de {{ post.autorensayo }}
                                    </strong>
                                </li>
                            </ul>
                            <a href="{{ post.demo }}"><button type="button" class="btn btn-default">Hojear cap&iacutetulo</button></a>
                            <a href="tienda"><button type="button" class="btn btn-default"></i> Comprar libro</button></a>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Ver m&aacutes cap&iacutetulos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}